{% load static %}
<nav class="pcoded-navbar">
    <div class="nav-list">
        <div class="pcoded-inner-navbar main-menu">
<!--                        <div class="pcoded-navigation-label"></div>-->

            <ul class="pcoded-item pcoded-left-item">
                <li class="">
                    <a href="navbar-light.html" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                        <i class="feather icon-menu"></i>
                        </span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>
                </li>
                <li class="pcoded-hasmenu active pcoded-trigger">
                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">User Management</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="active">
                            <a href="index.html" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Add Users</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="dashboard-crm.html" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Manage Users</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="dashboard-analytics.html" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Manage Roles</span>
                                <span class="pcoded-badge label label-info ">NEW</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="pcoded-hasmenu active pcoded-trigger">
                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Customer Management</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="active">
                            <a href="index.html" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Add Customers</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="dashboard-crm.html" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Manage Customers</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="pcoded-hasmenu active pcoded-trigger">
                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Vendor Management</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="active">
                            <a href="index.html" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Add Vendors</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="dashboard-crm.html" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Manage Vendors</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="pcoded-hasmenu active pcoded-trigger">
                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Quotation Management</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="active">
                            <a href="index.html" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Create Quotations</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="dashboard-crm.html" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Manage Quotations</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="pcoded-hasmenu active pcoded-trigger">
                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Order Management</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="active">
                            <a href="index.html" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Add Orders</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="dashboard-crm.html" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Manage Orders</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="pcoded-hasmenu active pcoded-trigger">
                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Stock Management</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="active">
                            <a href="index.html" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Add Stocks</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="dashboard-crm.html" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Manage Stocks</span>
                            </a>
                        </li>
                    </ul>
                </li><li class="pcoded-hasmenu active pcoded-trigger">
                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Updation</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="active">
                            <a href="index.html" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Paper Management</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="dashboard-crm.html" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Plate Management</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>