{% extends 'website_templates/index.html' %}
{% load static %}
{% block main_content %}

<div class="container">
    <div class="card m-5 shadow-lg">
        <img src="{% static 'images/img1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Software Development</h5>
            <p class="card-text">In this modern era of technology, one should surely get started to simplify and
                automize the work. Desktop applications and Softwares will be definitely helpful in the growth of your
                business. Applications build with these modern programming languages and frameworks are fast, effective,
                simplified and profitable. So, why are we waiting for ? Let's take a huge step towards the growth of our
                business and take our company at the top of the market.</p>
        </div>
    </div>
    <div class="card m-5 shadow-lg">
        <img src="{% static 'images/img2.jpg' %}" class="card-img-bottom" alt="...">
        <div class="card-body">
            <h5 class="card-title">Web Development</h5>
            <p class="card-text">Websites and Landing Pages plays a major role in the development of your brand or
                business. For Branding, websites must be Attractive and Beautiful. So, We Are here to create your own
                Website And Landing Pages that will hold all the features, services, home pages and many more. We will
                also provide your domain name and will launch your website with all Attractive Stuff that people will
                like.</p>
        </div>
    </div>
    <div class="card m-5 shadow-lg">
        <img src="{% static 'images/img7.jpg' %}" class="card-img-bottom" alt="...">
        <div class="card-body">
            <h5 class="card-title">Android And IOS Development</h5>
            <p class="card-text">Android apps will be very helpful to Simplify and Automate your
                business. With beautiful User Interfaces and more deep functionality we will also create your own
                android and iOS apps. The most interesting thing is these will be cross-platform apps created with the
                help of modern programming Language.</p>
        </div>
    </div>
    <div class="card m-5 shadow-lg">
        <img src="{% static 'images/img4.jpg' %}" class="card-img-bottom" alt="...">
        <div class="card-body">
            <h5 class="card-title">Technology Consultancy</h5>
            <p class="card-text">We are here to help you with our Consultancy skills that will be helpful to solve your
                technical, mechanical and electronic problems. Problems related to software and hardware will be solved
                by our experts.</p>
        </div>
    </div>
    <div class="card m-5 shadow-lg">
        <img src="{% static 'images/img6.jpg' %}" class="card-img-bottom" alt="...">
        <div class="card-body">
            <h5 class="card-title">Industry 4.0</h5>
            <p class="card-text">The rise of new digital industrial technology, known as Industry 4.0, is a
                transformation that makes it possible to gather and analyze data across machines, enabling faster, more
                flexible, and more efficient processes to produce higher-quality goods at reduced costs. We will help
                you as a Technical Guide in this interesting journey.</p>
        </div>
    </div>
    <div class="card m-5 shadow-lg">
        <img src="{% static 'images/img5.jpg' %}" class="card-img-bottom" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customize PC Built</h5>
            <p class="card-text">Customizations leads us to make our life comfortable and lot more easier that helps us
                in our progress and development. We are here to give you the best service for Customizations as per you
                prefer.</p>
        </div>
    </div>
    <div class="card m-5 shadow-lg">
        <img src="{% static 'images/img3.jpg' %}" class="card-img-bottom" alt="...">
        <div class="card-body">
            <h5 class="card-title">Live Online Coding Tutorials</h5>
            <p class="card-text">Instructing and guiding you has been our main sole aim with this startup. We conduct
                live online tutorials with your discussed date and time, affording you the best knowledge in Programming
                and coding fundamentals and concepts. We conduct live online coding tutorials with upgraded technologies
                in this world i.e. one of the best online meeting platform : Zoom and Google Classroom.</p>
        </div>
    </div>
</div>

{% endblock main_content %}